.searchbar{
    display: block;
    width: 40%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    // height: 2rem ;
    // border: transparent;
    // outline: transparent;
    // background-color: violet;

    &_icon{
        transform: scale(1.5);

        &--close{
            cursor: pointer;

            &:hover{
                color: red;
            }
        }
    }

    &_input{
        height: 100%;
        width: 80%;
        border: transparent;
        outline: transparent;
        font-family: 'Inter', sans-serif;
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
    }
}